我这里有一个游戏，请根据下面的规则描述将个棋子（以下称为XX团子，XX为团子名字）（除特殊团子外）的获胜期望与可能性通过模拟的方式计算出来，你需要模拟至少百万次以上，并将置信区间以99%进行计算与拟合
游戏地图
从0号点开始，游戏共有32个点位（即0-31号位），呈环形排列，其中2、10、15、22号位为绿色点位，9、27号位为红色点位，5、19号位为黑色点位，各点位特殊效果如下所示：
	-绿色点位：移动终点为该格的所有团子，将其向前移动一格（含堆叠与被堆叠团子）
	-红色点位：移动终点为该格的所有团子，将其向后移动一格（含堆叠与被堆叠团子）
	-黑色点位：当团子的终点为该点位时，随机重新堆叠该点位上的所有团子（不含特殊团子）
游戏规则：
	游戏开始时，团子随机堆叠于0号点位，按照该随机堆叠顺序投掷骰子前进1-3位，堆叠团子按照越晚堆叠排名越靠前的规则计算排名。
	游戏中：每轮开始时将随机排列团子投掷骰子的顺序，按照该顺序决定移动先后顺序，数值大小为随机前进1-3格，当堆叠在下的团子先移动时，会带动其之上的团子同样移动到掷骰子团子所移动之点位，反之则无影响。所有团子在每轮行动中有概率发动自身特有的技能，并产生相应影响（可正面可负面）
	游戏结束条件：当团子在已经过0号点位并已移动至31号位时，游戏进行结算，先抵达31号位的团子位第一名（若存在堆叠情况，则按照堆叠顺序从上至下进行排列）
	特殊团子（下面简称哈基布）：该团子在游戏开始时位于31号点位（不参与游戏结算），游戏地图所有特殊效果都对哈基布生效，在游戏开始第三回合后，哈基布将加入随机投掷序列，并按照31->0的顺序进行移动，每轮可投掷出前进1-6的点数，若在其单次前进终点遇到正向行进的团子，将永远堆叠于最底部，若在整轮行动中，正向前进的团子点位大于哈基布所在点位，哈基布将传送回31号位重新开始

下面是团子名称以及其技能描述（以----符号作为分列符）：
团子名字----技能描述
奥古斯塔----回合开始时，着该团子处于堆叠最顶端，则在本回合不行动，且在下回合中最后一个行动。
尤诺----每场比赛一次，当该团子经过赛程中点后，若该团子排名 前后有其他非布大王团子，则将这些团子传送至自己的格 子。这些团子的堆叠顺序将与传送前的排名顺序一致。
弗诺诺----回合开始时，若该团子处于堆叠最底层，则在移动时额外前进3格
长离----如果下方堆叠其他团子,下一个回合有65%的概率最后 一个行动。
今汐----如果头顶堆叠其他团在，有40%概率移动到所有团子的正上方
卡卡罗----开始移动时，如果在最后一名，额外前进3格。
